<!DOCTYPE html>
<html ng-app="bingoApp">
    <head>
        <meta charset="utf-8" />
        <title>Bingo</title>
    </head>
    <body>
        <div id="app" aria-role="application"></div>
        <div ng-controller="TicketListController" id="tickets">
            <div ng-repeat="ticket in tickets" class="ticket">
                <table>
                    <thead></thead>
                    <tbody>
                        <tr ng-repeat="row in ticket.rows">
                            <td ng-repeat="cell in row.cells track by $index">{{cell.number}}</td>
                        </tr>
                    </tbody>
                </table>
                <span class="remaining">
                    <span class="number">5</span>
                    <span>to go</span>
                </span>
            </div>
        </div>
    </body>
</html>
