@import "~normalize.css/normalize.css";
@import "common/styles/mixins";
@import "common/styles/variables";
@import "common/styles/animations";

/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWeb';
    src: url('./common/fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('./common/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./common/fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('./common/fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('./common/fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

html, body {
    height: 100%;
    position: relative;
    text-transform: lowercase;
    background-color: $body-bg;
    font-family: LatoWeb;

    header {
        background-color: rgba(255, 255, 255, 1);

        img {
            height: 50px;
            margin: 10px;
        }
    }

    h1, h2, h3, h4 {
        font-weight: normal;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

#bingo {
    display: flex;
    flex-direction: row;

    #number-generator {
        flex-grow: 1;
        display: flex;
        flex-direction: row;

        div#current-number {
            order: 1;
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            text-align: center;

            span {
                font-size: 72px;
                color: rgba(255, 255, 255, 1);
                margin: 40px;
            }

            button {
                flex-grow: 0;
                margin: 0 auto;
                background: rgba(190, 1, 50, 1);
                padding: 10px 20px;
                border: 1px solid rgba(255, 255, 255, 1);
                color: rgba(255, 255, 255, 1);
                text-transform: lowercase;
                cursor: pointer;
                @include border-radius(5px);

                &:hover,
                &:focus {
                    background: lighten(rgba(190, 1, 50, 1), 20%);
                }

                &[disabled] {
                    color: rgba(100, 100, 100, 1);
                    background: rgba(155, 155, 155, 1);
                    border-color: rgba(100, 100, 100, 1);
                }
            }
        }

        div#called-numbers {
            flex-grow: 0;
            order: 0;
            padding: 10px;
            color: rgba(255, 255, 255, 1);

            ol {
                list-style: none;
                padding: 0;
                text-align: center;

                li {
                    border-bottom: 1px dashed rgba(255, 255, 255, 1);
                    padding: 5px 0;

                    @for $i from 5 through 15 {
                        &:nth-child(#{$i}) {
                            opacity: 1 / ($i - 5);
                        }
                    }

                    &:nth-of-type(1n+15) {
                        display: none;
                    }
                }
            }
        }
    }

    #tickets {
        display: flex;
        flex-direction: column;

        h2 {
            text-align: center;
            background: rgba(190, 1, 50, 1);
            color: rgba(255, 255, 255, 1);
            margin: 0;
            padding: 20px 0;
        }

        .ticket {
            padding: $ticket-padding;
            background: $ticket-bg;
            border-bottom: $ticket-border-bottom;

            display: flex;
            flex-direction: row;
            align-items: stretch;
            text-align: center;

            span.remaining {
                text-transform: uppercase;
                width: $button-width;
                word-spacing: $button-width;
                border: $button-border;
                margin: 0 10px;
                @include border-radius(5px);
                @include linear-gradient(to bottom, rgba(107, 181, 111, 1) 0%, rgba(27, 142, 68, 1) 50%, rgba(0, 125, 63, 1) 51%, rgba(24, 99, 49, 1) 100%);
                color: rgba(255, 255, 255, 1);
                vertical-align: middle;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &.remaining-1 {
                    @include animation('flash-remaining 2s infinite');
                }

                span.number {
                    font-size: 30px;
                }

            }

            table {
                border-spacing: 0;
                border-collapse: collapse;

                td {
                    width: 25px;
                    height: 25px;
                    border: $table-border;

                    &.called {
                        @include animation('flash-called 3s 1');
                        background-color: rgba(107, 181, 111, 1);
                        color: rgba(255, 255, 255, 1);
                    }
                }
            }
        }
    }
}

#winner-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    #winner-alert {
        @include border-radius(5px);
        text-align: center;
        padding: 20px 180px;
        border: 1px solid rgba(155, 155, 155, 1);
        background: rgba(255, 255, 255, 1);

        h2 {
            text-transform: uppercase;
            color: rgba(255, 212, 84, 1);
            text-shadow: 0 0 1px rgba(0, 0, 0, 1);
            font-size: 72px;
        }
    }
}
