$border-color: rgba(103, 100, 100, 1);

$ticket-bg: rgba(251, 218, 227, 1);
$ticket-padding: 10px;
$ticket-border-bottom: 1px dashed $border-color;
$table-border: 1px solid $border-color;

$button-width: 50px;
$button-border: 1px solid $border-color;
